<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h4 class="text-center">Update Product</h4>
            <form (ngSubmit)="onUpdate()" novalidate #formUpdate="ngForm">
                <div class="mb-3">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Product name" autocomplete="off" 
                    required [(ngModel)]="product.name">
                </div>
                <div class="mb-3">
                    <input type="number" name="price" id="price" class="form-control" placeholder="Product price" autocomplete="off" 
                    required [(ngModel)]="product.price">
                </div>
                <button class="btn btn-outline-success w-100 mb-3" [disabled]="!formUpdate.valid">
                    <i class="fas fa-edit"></i>Update
                </button>
                <button class="btn btn-outline-primary w-100" routerLink="/">
                    <i class="fas fa-arrow-alt-circle-left"></i>Back
                </button>
            </form>
        </div>
    </div>
</div>